html, body {
    background-color: #FFF;
}

.container {
    display:flex;
}

.element {
    background-color: red;
    color: white;
    text-align: center;
    margin: 50px 50px;
    width: 150px;
    height: 150px;
}

#start {
    justify-content: flex-start;
}

#end {
    justify-content: flex-end;
}

#center {
    justify-content: center;
}

#around {
    justify-content: space-around;
}

#between {
    justify-content: space-between;
}
